# macOS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
app/ios/
app/android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.mobileprovision

# Metro
.metro-health-check*

# Go & Agent
agent/bin/
agent/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Env & Secrets
.env
.env.*.local
*.pem
*.key

# Editor
.gemini/